.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 76, 170, 0.8);
  z-index: 10;
  color: white;
}

.modal-inner-container {
  width: 90%;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--secondary);
  opacity: 1;
  max-width: 600px;
  overflow: auto;
  height: fit-content;
  max-height: max(90%, 500px);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.5);
}

.modal-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.modal-buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 2rem;
}

.modal-close-button {
  color: white;
}
.modal-close-button:hover {
  text-decoration: underline;
}
