.header-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-input {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: var(--secondary);
  color: white;
  border: 2px solid var(--secondary);
}
.header-input::placeholder {
  color: rgb(222, 222, 222);
}
.header-input:focus {
  border-color: white;
}

.header-button {
  background-color: var(--secondary);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.header-button:hover {
  background-color: black;
}
