.header-container {
  position: relative;
  width: 100%;
  padding: 2rem;
  padding-top: 3.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-archive-button {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  z-index: 1;
}

.header-input {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 1rem;
  background-color: var(--secondary);
  color: white;
  border: 2px solid var(--secondary);
}
.header-input::placeholder {
  color: rgb(222, 222, 222);
}
.header-input:focus {
  border-color: white;
}

.header-button {
  font-weight: bolder;
  text-transform: uppercase;
  padding: 20px 40px;
}
