.archive-todo-container {
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.archive-todo-title {
  font-weight: bold;
}

.archive-todo-buttons {
  display: flex;
  gap: 1rem;
}

.archive-delete,
.archive-restore {
  color: white;
}
.archive-delete:hover {
  color: var(--red);
}
.archive-restore:hover {
  color: var(--green);
}
