.app-container {
  height: 100vh;
  width: 100vw;
  max-width: 2000px;
  margin: auto;
  padding: 2rem;
}

.app-todo-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.app-todo {
  width: 100%;
  border: 1px solid black;
}

@media (max-width: 1240px) {
  .app-todo-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 959px) {
  .app-todo-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
