:root {
  --primary: #024caa;
  --secondary: #091057;
  --red: #ff2626;
  --green: #55ff1c;
  --orange: #ff7e1b;
}

*,
*::after,
*::before {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
input {
  outline: none;
}

html,
body,
#root {
  height: 100vh !important;
  width: 100vw !important;
  background-color: var(--primary);
}

.primary-button {
  background-color: var(--secondary);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1;
}
.primary-button:hover {
  background-color: black;
}

.size-xxl {
  font-size: 1.5rem;
}
.size-xl {
  font-size: 1.2rem;
}
.size-lg {
  font-size: 1rem;
}
.size-md {
  font-size: 0.8rem;
}

@media (max-width: 1240px) {
  .size-xxl {
    font-size: 1.4rem;
  }
  .size-xl {
    font-size: 1.1rem;
  }
  .size-lg {
    font-size: 0.9rem;
  }
  .size-md {
    font-size: 0.7rem;
  }
}

@media (max-width: 959px) {
  .size-xxl {
    font-size: 1.3rem;
  }
  .size-xl {
    font-size: 1rem;
  }
  .size-lg {
    font-size: 0.8rem;
  }
  .size-md {
    font-size: 0.6rem;
  }
}
