*,
*::after,
*::before {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: sans-serif, serif;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
input {
  outline: none;
}

html,
body,
#root {
  height: 100vh !important;
  width: 100vw !important;
}
